option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi:application
    PythonVersion: 3.11

  aws:elasticbeanstalk:application:environment:
    # Python environment variables
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    FLASK_CONFIG: "production"
    AWS_REGION: "eu-west-2"
    SECRET_NAME: "manager-bot-secrets"
    
    # Rust and Cargo paths
    PATH: "/root/.cargo/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"
    
packages:
  yum:
    git: []
    postgresql-devel: []
    python3-devel: []
    gcc: []
    gcc-c++: []
    make: []
    openssl-devel: []