option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASK_APP: wsgi.py
    FLASK_CONFIG: production
    SECRET_NAME: manager-bot-secrets
    AWS_REGION: eu-west-2
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi.py
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: app/static