option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASK_CONFIG: "production"
    AWS_REGION: "eu-west-2"
    SECRET_NAME: "projectpilot/credentials"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi.py
    NumProcesses: 3
    NumThreads: 20
    
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: app/static

container_commands:
  01_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python -m flask db upgrade"
    leader_only: true
  02_create_logs_dir:
    command: "mkdir -p /var/app/current/logs && chmod 755 /var/app/current/logs"
  03_check_wsgi:
    command: "cat wsgi.py"