packages:
  yum:
    gcc: []
    gcc-c++: []

commands:
  01_install_rustup:
    command: |
      curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      source $HOME/.cargo/env
      rustup default stable
    ignoreErrors: false
    test: "! command -v rustc"
  02_add_cargo_to_path:
    command: |
      echo 'export PATH="$HOME/.cargo/bin:$PATH"' >> /etc/profile
      source /etc/profile
    ignoreErrors: false
  03_check_rust_installation:
    command: |
      source $HOME/.cargo/env
      rustc --version
      cargo --version
    ignoreErrors: false

container_commands:
  01_set_environment:
    command: |
      echo 'export PATH="$HOME/.cargo/bin:$PATH"' >> /opt/elasticbeanstalk/deployment/.env
      source /opt/elasticbeanstalk/deployment/.env
    ignoreErrors: false